<html>
	<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	 <link href="/css/cover.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">
		        <img class = "logo" alt="Brand" src="/svg/cheeriosLogoOrangeWords.svg">
		        <p class="navbar-right">Signed in as<a href="#" class="navbar-link"><img src="<%=user.image%>"/><%= user.name %></a></p>
		      </a>
		    </div>
		  </div>
		</nav>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            	  <div class="inner"></div>
              <a class="navbcar-brand" href="/index">
                </a>
                <ul class="nav masthead-nav">
                <li><a href="/index">Home</a></li>
                <li class="active" ><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Cheerios.</h1>
            <div id="heartBeat"></div>
	            <div id="app">
				
				</div>

          </div>

          <div class="mastfoot">
            <div class="inner">
             <p class="lead"><a href='/logout'>Log Out</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

		
		
		<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
	    <script src='/js/index.bundle.js'></script>
	</body>
</html>